{% extends 'base.html' %}


{% block herotitle %}
Tools
{% endblock %}


{% block content %}

<div class="wrapper">


    <p>
        <h3>MRlogP</h3>
        Predict logPs for small druglike molecules <a
            href="https://similaritylab.bio.ed.ac.uk/mrlogp"><br>Visit MRlogP</a>
        </p>
        <br>
    
        <p>
        <h3>eMolecules</h3>
        SimilarityLab uses the eMolecules database as a source of commercially available small molecules. <a
            href="https://www.emolecules.com/"><br>Visit eMolecules</a>
        </p>
    <br>

    <p>
    <h3>ChEMBL</h3>
    <strong>The</strong> public assay results and activities database<a href="https://www.ebi.ac.uk/chembl/"><br>Visit
        ChEMBL</a>
    </p>
    <br>

    <p>
    <h3>SwissADME</h3>
    One of the best resources for small molecule physicochemical property prediction<a
        href="https://www.emolecules.com/"><br>Visit SwissADME</a>
    </p>
    <br>

    <p>
        <h3>PubChem</h3>
        One of the original and best sources for compound information <a href="https://pubchem.ncbi.nlm.nih.gov/"><br>Visit PubChem</a>
    </p>
   
    
</div>

{% endblock %}